<!doctype html>
<html>
  <head>
    <title><%= data.page.title || "HTML and CSS Class" %></title>

    <%= stylesheet_link_tag "style" %>
  </head>

  <body class="<%= page_classes %> <%= 'navigator' if current_page.data.navigator %>">
    <header>
      <ul>
        <li><a href="/" class="home">HTML and CSS Class</a></li>
        <% breadcrumbs.each do |crumb| %>
        <li><%= link_to(crumb[:title], crumb[:url]) %></li>
        <% end %>
        <% unless title.blank? %>
        <li><%= title %></li>
        <% end %>
      </ul>
    </header>
    <div class="content">
    <%= yield %>
    </div>
  </body>
</html>