<!doctype html>
<html>
  <head>
    <title><%= title || "HTML and CSS Class" %></title>

    <%= stylesheet_link_tag 'global', 'navigator' %>
    <%= yield_content :assets %>
    <%= partial 'layouts/google_analytics' %>
  </head>

  <body class="<%= page_classes %>">
    <%= partial 'layouts/header' %>
    <div class="content">
    <%= yield %>
    </div>
  </body>
</html>